



.aboutMeHome {
    width: 100%;
    height: 100vh;
}

.aboutMeHome .grid1{
    width: 100%;
    height: 100%;
}

.aboutMeHome .grid1 .section1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





.aboutMeHome .grid1 .section2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeHome .grid1 .section2 .infoPersonal .container h4 {
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 1.5vw;
    text-align: justify;
    color: var(--text-color1);
}

.aboutMeHome .grid1 .section2 .boton .container button {
    font-size: 1vw;
}


