.headerHome {
    width: 100%;
    height: auto;
    top: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    padding: 1vw 0;
    transform: translate(-0%, -100%);
    z-index: 11;
}

.headerHome .ant-anchor-link a {
    font-size: 1.1vw;
    color: var(--text-color2) !important;
}

.headerHome .ant-anchor-link.ant-anchor-link-active a {
    font-size: 1.1vw;
    color: var(--text-color1) !important;
}


